th{
  text-align: right;
}

div#satellite-editor {
  border: 1px solid #000000;
  border-collapse: collapse;
  background: #fff;
}

div#draw-area{
  position: relative;
}

div#draw-area svg{
  border: 1px solid black;
}

div#draw-area {
  width: 1000px;
  height: 1000px;
  border: 1px solid blue;
}
